name: Background Training

# on:
#   schedule:
#     # Запуск каждую минуту всей задачи
#     - cron: "* * * * *"

jobs:
  background-training:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run training script with delay
      run: |
        python -u main.py &
      # sleep 20  
      # Устанавливаем временной интервал между итерациями

    - name: Upload logs
      uses: actions/upload-artifact@v4
      with:
        name: background-training-logs
        path: training.log